brotli==1.0.9
cryptography==3.3.2
Cython==0.29.21
docutils==0.16
importlib_metadata==3.3.0
ipaddr==2.2.0
keyring==21.8.0
lockfile==0.12.2
lxml==4.6.2
matplotlib==3.3.3
mock==4.0.3
mypy_extensions==0.4.3
nltk==3.5
numpy==1.22.0
ordereddict==1.1
pandas==1.2.0
pattern==3.6
protobuf==3.14.0
pyOpenSSL==20.0.1
pytorch_pretrained_bert==0.6.2
scikit_learn==0.24.0
seaborn==0.11.1
simplejson==3.17.2
spacy==2.3.5
torch==1.7.1
typing_extensions==3.7.4.3
wincertstore==0.2
zipp==3.4.0
